@page "/list"
@using Piipan.QueryTool.Client.Components
@code {
    protected override void OnInitialized()
    {
        ClientAppData.CurrentPage = "list";
    }
}

<PageTitle>Piipan Matches List</PageTitle>
<div class="grid-container" id="match-list-page-container">
    <MatchesList />
</div>