<div>
    <nav class="flex-column">
        <ul>
            <li><a href="/">Home</a></li>
            <li><NavLink href="/accordion/">Accordion</NavLink></li>
            <li><NavLink href="/alert-box/">Alert Box</NavLink></li>
            <li><NavLink href="/card/">Card</NavLink></li>
            <li><NavLink href="/input-date/">Input Date</NavLink></li>
            <li><NavLink href="/input-number/">Input Number</NavLink></li>
            <li><NavLink href="/input-radio/">Input Radio</NavLink></li>
            <li><NavLink href="/input-ssn/">Input Social Security Number</NavLink></li>
            <li><NavLink href="/input-text/">Input Text</NavLink></li>
            <li><NavLink href="/input-text-area/">Input Text Area</NavLink></li>
            <li><NavLink href="/modal/">Modal</NavLink></li>
            <li><NavLink href="/pagination/">Pagination</NavLink></li>
            <li><NavLink href="/table/">Table</NavLink></li>
            <li><NavLink href="/tag/">Tag</NavLink></li>
            <li><NavLink href="/tooltip/">Tooltip</NavLink></li>
        </ul>
    </nav>
</div>