@page
@model Piipan.Dashboard.Pages.NotAuthorizedModel
@{
    Layout = "_EmptyLayout";
    ViewData["Title"] = "Not Authorized";
}
<style>
    .grid-container {
    display: grid;
    grid-template-columns: 1.25fr 1fr;
    grid-gap: 20px;
    gap: 20px;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

h1, p {
    margin-top: 0;
    margin-bottom: 3rem;
}

p.large-text {
    font-size: 28px;
    font-weight: 600;
}

.svg-area {
    padding-top: 1rem;
}

@@media (max-width: 50rem) {
    .grid-container {
        grid-template-columns: 1fr;
    }
    .svg-area {
        display: none;
    }
}
</style>
<div class="grid-container">
    <div>
        <h1>Access Denied</h1>
        <p class="large-text">You do not have access to the Piipan.</p>
        <p>Error code: 403</p>
        <p>To request access, please contact the <a href="mailto:@Model.HelpDeskEmail">help desk</a>.</p>
    </div>
    <div class="svg-area">
        <svg width="420" height="420" viewBox="0 0 420 420" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M287.294 179.326C287.847 191.844 284.911 204.27 278.812 215.216C278.524 215.731 278.412 216.326 278.493 216.91C278.573 217.495 278.843 218.037 279.259 218.454L348.234 287.551V310.854H324.877L312.101 298.796C311.601 298.328 310.943 298.067 310.258 298.064H296.046V281.562C296.046 280.847 295.764 280.16 295.26 279.652L288.852 273.244C288.344 272.74 287.657 272.457 286.941 272.458H270.453V255.97C270.454 255.596 270.377 255.226 270.228 254.883C270.078 254.54 269.86 254.232 269.586 253.978L255.753 241.161C255.331 240.773 254.797 240.528 254.227 240.462C253.658 240.396 253.082 240.513 252.583 240.795C242.646 246.437 231.441 249.465 220.015 249.598C208.59 249.731 197.317 246.963 187.252 241.554V236.135C198.647 232.56 208.991 226.243 217.377 217.739C225.762 209.236 231.934 198.805 235.349 187.361L225.635 197.075C223.839 200.616 221.731 203.989 219.335 207.155C213.157 215.328 205.203 221.99 196.072 226.637L181.833 240.89V331.664L165.29 348.193L148.802 331.705V313.564C148.799 312.846 148.512 312.159 148.003 311.653L137.164 300.815L148.003 289.976C148.512 289.47 148.799 288.783 148.802 288.066V275.168C148.802 274.799 148.723 274.434 148.572 274.097L143.383 279.286V286.846L131.419 298.85C131.167 299.102 130.968 299.401 130.831 299.73C130.695 300.059 130.625 300.411 130.625 300.767C130.625 301.123 130.695 301.476 130.831 301.805C130.968 302.134 131.167 302.433 131.419 302.684L143.423 314.688V332.762C143.421 333.118 143.49 333.472 143.624 333.802C143.759 334.132 143.958 334.432 144.209 334.686L163.407 353.884C163.66 354.135 163.961 354.334 164.291 354.468C164.621 354.603 164.974 354.672 165.331 354.67C166.047 354.67 166.733 354.388 167.241 353.884L186.453 334.645C186.707 334.393 186.908 334.093 187.045 333.763C187.182 333.433 187.253 333.079 187.252 332.721V247.651C197.603 252.702 209.004 255.228 220.52 255.023C232.036 254.818 243.339 251.888 253.504 246.472L265.034 257.148V275.168C265.034 275.886 265.319 276.576 265.827 277.084C266.335 277.592 267.025 277.877 267.743 277.877H285.871L290.681 282.687V300.774C290.681 301.493 290.966 302.182 291.474 302.69C291.983 303.198 292.672 303.484 293.39 303.484H309.215L321.991 315.542C322.495 316.021 323.165 316.288 323.861 316.287H350.957C351.676 316.287 352.365 316.001 352.874 315.493C353.382 314.985 353.667 314.296 353.667 313.577V286.481C353.664 285.763 353.377 285.076 352.868 284.57L284.516 216.056C290.54 204.499 293.361 191.541 292.686 178.526C292.012 165.511 287.867 152.914 280.682 142.041L276.767 145.957C283.144 155.963 286.775 167.472 287.294 179.326Z" fill="#1B1B1B" />
            <path d="M137.177 262.364L148.016 251.526C148.27 251.274 148.471 250.974 148.608 250.644C148.745 250.313 148.816 249.959 148.816 249.602V234.075C148.814 233.486 148.62 232.912 148.263 232.443C147.906 231.974 147.405 231.633 146.837 231.474C131.693 227.11 118.545 217.603 109.655 204.588C100.766 191.574 96.6929 175.868 98.137 160.174C99.5811 144.48 106.452 129.78 117.567 118.606C128.682 107.433 143.345 100.484 159.031 98.9574C160.21 98.8354 161.402 98.7677 162.581 98.7135V119.036C157.048 119.726 151.987 122.499 148.428 126.79C144.868 131.081 143.079 136.568 143.425 142.133C143.77 147.698 146.224 152.921 150.287 156.739C154.35 160.558 159.715 162.683 165.29 162.683C170.866 162.683 176.231 160.558 180.294 156.739C184.357 152.921 186.811 147.698 187.156 142.133C187.501 136.568 185.712 131.081 182.153 126.79C178.594 122.499 173.533 119.726 168 119.036V98.7135C182.934 99.3117 197.25 104.838 208.713 114.43L208.997 114.674C216.523 121.021 222.572 128.935 226.724 137.862C230.875 146.79 233.028 156.515 233.032 166.361C233.039 166.478 233.039 166.596 233.032 166.713L238.303 161.443C237.106 143.791 229.554 127.171 217.045 114.66C226.103 114.302 235.14 115.772 243.618 118.982C252.095 122.192 259.839 127.076 266.388 133.343L270.236 129.495C256.523 116.362 238.241 109.075 219.254 109.173V83.1735C219.336 79.4038 218.665 75.6555 217.279 72.1487C215.894 68.6419 213.822 65.4471 211.185 62.7518C208.548 60.0566 205.399 57.9151 201.923 56.4531C198.448 54.9911 194.715 54.2381 190.944 54.2381C187.174 54.2381 183.441 54.9911 179.965 56.4531C176.49 57.9151 173.341 60.0566 170.704 62.7518C168.067 65.4471 165.995 68.6419 164.609 72.1487C163.224 75.6555 162.552 79.4038 162.635 83.1735V93.2942C161.28 93.2942 159.925 93.4296 158.57 93.5516C141.794 95.1707 126.091 102.532 114.116 114.393C102.141 126.253 94.6279 141.884 92.8469 158.644C91.066 175.404 95.1263 192.264 104.342 206.376C113.557 220.488 127.362 230.986 143.423 236.094V248.45L131.419 260.454C131.167 260.706 130.968 261.005 130.831 261.334C130.695 261.663 130.625 262.015 130.625 262.371C130.625 262.727 130.695 263.08 130.831 263.409C130.968 263.738 131.167 264.037 131.419 264.288L133.425 266.293L137.259 262.459L137.177 262.364ZM168 83.1735C167.926 80.1207 168.463 77.0839 169.58 74.2418C170.697 71.3996 172.371 68.8097 174.504 66.6242C176.637 64.4388 179.185 62.7022 181.999 61.5164C184.813 60.3307 187.836 59.7198 190.89 59.7198C193.944 59.7198 196.967 60.3307 199.781 61.5164C202.595 62.7022 205.143 64.4388 207.276 66.6242C209.409 68.8097 211.083 71.3996 212.2 74.2418C213.317 77.0839 213.854 80.1207 213.78 83.1735V109.43C212.994 109.43 212.222 109.566 211.436 109.647C199.116 99.6263 183.87 93.8864 168 93.2942V83.1735ZM165.29 143.477C166.009 143.477 166.698 143.192 167.206 142.684C167.715 142.176 168 141.486 168 140.768V124.51C172.081 125.19 175.758 127.379 178.3 130.644C180.842 133.909 182.064 138.01 181.723 142.133C181.382 146.257 179.502 150.101 176.458 152.904C173.414 155.707 169.428 157.262 165.29 157.262C161.153 157.262 157.166 155.707 154.122 152.904C151.078 150.101 149.199 146.257 148.858 142.133C148.517 138.01 149.739 133.909 152.281 130.644C154.823 127.379 158.499 125.19 162.581 124.51V140.768C162.581 141.486 162.866 142.176 163.374 142.684C163.883 143.192 164.572 143.477 165.29 143.477Z" fill="#1B1B1B" />
            <path d="M210 0C168.466 0 127.865 12.3163 93.3303 35.3914C58.796 58.4665 31.8798 91.264 15.9854 129.636C0.0909892 168.009 -4.06771 210.233 4.03518 250.969C12.1381 291.705 32.1386 329.123 61.5077 358.492C90.8767 387.861 128.295 407.862 169.031 415.965C209.767 424.068 251.991 419.909 290.364 404.015C328.736 388.12 361.534 361.204 384.609 326.67C407.684 292.135 420 251.534 420 210C420 154.304 397.875 100.89 358.492 61.5076C319.11 22.1249 265.696 0 210 0ZM210 5.41935C259.301 5.35491 306.955 23.1647 344.129 55.5484C345.484 56.7406 346.839 57.9329 348.194 59.1658L59.1794 348.193C57.9465 346.839 56.7543 345.484 55.562 344.129C29.8394 314.504 13.1776 278.108 7.5627 239.278C1.94779 200.449 7.61657 160.824 23.8934 125.126C40.1702 89.4279 66.3684 59.1632 99.3654 37.9391C132.362 16.7149 170.767 5.42651 210 5.41935ZM210 414.581C156.395 414.654 104.918 393.612 66.7123 356.011C65.3575 354.751 64.1517 353.464 62.8917 352.163L352.163 62.8916C353.518 64.1516 354.751 65.4251 356.011 66.7122C384.235 95.4743 403.336 131.931 410.918 171.508C418.5 211.085 414.224 252.02 398.629 289.177C383.033 326.334 356.811 358.057 323.254 380.367C289.696 402.676 250.297 414.579 210 414.581Z" fill="#1B1B1B" />
        </svg>
    </div>
</div>