@using System.Linq.Expressions
@using Piipan.Components.Helpers
@using System.ComponentModel.DataAnnotations
@using static FormConstants

@code {
    [CascadingParameter] public UsaFormGroup FormGroup { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public InputStatus Status { get; set; }
}

<legend class="@LabelClass @LegendClass" for="@FormGroup?.InputElementId">
    @ChildContent
    @if (FormGroup?.Required ?? false)
    {
        <span class="usa-required">*</span>
    }
</legend>