<section class="cui">
  <div class="grid-container padding-y-1">
    <div class="usa-alert usa-alert--info usa-alert--slim">
      <div class="usa-alert__body">
        <p class="usa-alert__text text-bold">Controlled Unclassified Information: <a href="https://www.archives.gov/cui/registry/category-detail/privacy.html" target="_blank" rel="noopener">CUI//SP-PRVCY</a></p>
        <p class="usa-alert__text">This system contains personally identifiable information (PII). Please protect accordingly.</p>
      </div>
    </div>
  </div>
</section>
