@page
@model SignedOutModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "User Signed Out";
}

<div class="grid-container">
  <h1>You are signed out.</h1>
  <p><a href="/">Click here to return to home page.</a></p>
</div>