$theme-color-error-dark: "red-warm-50v";

.usa-form .usa-input, .usa-form .usa-range, .usa-form .usa-select, .usa-form .usa-textarea {
    max-width: 424px;
}

.usa-form {
    max-width: 700px;
}

.usa-input--error, .usa-input--success {
    padding-top: calc(.5rem - .25rem);
    padding-bottom: calc(.5rem - .25rem);
}