@page "/"

<PageTitle>Piipan Metrics Dashboard</PageTitle>
<div class="grid-container" id="metrics-dashboard">
    <h1>Piipan Metrics Dashboard</h1>
    <ul class="usa-list">
        <li><a href="/ParticipantUploads">SNAP participant data uploads by state</a></li>
    </ul>
</div>