@using Piipan.Shared.Client.DTO
@using Microsoft.AspNetCore.Components.Web
@inject ClientAppDataDto ClientAppData
@code {
    bool emailExpanded = false;
}

<div class="usa-navbar">
    <div class="usa-logo" id="extended-logo">
        <a href="/" class="agency">
            <img class="usa-banner__header-flag" src="/images/18f-symbol-color.svg" alt="United States Department of Agriculture">
            <div>
                <div class="agency__text--top">
                    National Accuracy Clearinghouse
                </div>
                <div class="agency__text--bottom">
                    U.S. Department of Agriculture
                </div>
            </div>
        </a>
    </div>
    <button class="usa-menu-btn">Menu</button>
    <div class="usa-nav" style="">
        <ul class="usa-nav__primary usa-accordion flex-justify-end">
            @if (!String.IsNullOrEmpty(ClientAppData.Email))
            {
                <li class="usa-nav__primary-item">
                    <button type="button" class="usa-accordion__button" aria-expanded="@(emailExpanded ? "true" : "false")" @onclick=@(() => emailExpanded = !emailExpanded) aria-controls="nav-user">
                        <span class="usa-button--unstyled">@ClientAppData.Email</span>
                    </button>
                    <ul id="nav-user" class="usa-nav__submenu" hidden="@(!emailExpanded)">
                        <li class="usa-nav__submenu-item">
                            <a href="/.auth/logout?post_logout_redirect_uri=@(ClientAppData.BaseUrl)/SignedOut">Sign out</a>
                        </li>
                    </ul>
                </li>
            }
        </ul>
    </div>
</div>